@import url('http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    scroll-behavior: smooth;
}
body {
    background: linear-gradient( #2b1055,#B814ED);
    overflow: hidden;
}

.container {
    width: 30%;
    justify-content: center;
    margin-left: 35%;
    margin-top: 5%;
    padding: 40px;
    background: transparent; 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.1);
    justify-content: center;
    margin-bottom: 30%;
        
}
.container:hover
{
  background: rgba(255,255,255,0.15);  
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.25);
    border-left: 1px solid rgba(255,255,255,0.25);
}

.container h2{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 170%;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 30px;


}

label {
    margin-bottom: 5px;
    display: block;
    padding: 15px 20px;
    color: #ffffff;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    margin-top: 5%;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #1c471e;
}
